@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=PT+Sans&family=Roboto+Mono:wght@300&display=swap');
body {
    background-color: hsl(212deg 45% 89%);
}

.bloco {
    background-color: white;
    display: inline-block;
    margin: 10% 42%;
    border-radius: 1rem;
    width: 326px;
    height: 496px;
    font-family: 'Montserrat', sans-serif;

}
.bloco img {
    width: 290px;
    border-radius: 10px;
    margin: 5% 6%;
    border: none;
}

h1{
    font-size: 19px;
    text-align: center;
    margin: 3% 10%;
    color: hsl(220deg 23% 26%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.bloco p {
    display: block;
    margin: 6% 10%;
    text-align: center;
    color:hsl(230deg 4% 72%);
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 750px) {
    body {
        position:absolute;
    }
    
    .bloco {
        width: 300px;
        height: 450px;
        margin: 30% 8%;
    
    }
    .bloco img {
        width: 261px;
        height: 240px;
        margin: 6% 7%;
    }
    
    h1{
        font-size: 17px;
    margin: 3% 8%;
    }
    
    .bloco p {
        margin: 8% 8%;
        font-size: 13px;
    }
    
}